@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  user-select: none;
  height: 100%;
  overflow: hidden;
}
.button-primary {
  @apply p-1 rounded-lg text-white bg-pink-500  transition-all;
}
.button-primary:hover {
  @apply bg-pink-600 shadow-md transition-all;
}
.button-primary-border {
  @apply p-1 border border-2 border-gray-400 rounded-lg transition-all;
}
.button-primary-border:hover {
  @apply shadow-md transition-all;
}
main {
  height: calc(100vh - 64px);
  position: relative;
  padding: 0 10px;
}
.red-border {
  border: 1px solid red;
}

.stack {
  transform: translateX(-3px);
}

.left-pannel {
  @apply w-full p-2 flex flex-col gap-5;
}
.right-pannel {
  @apply w-full p-2 flex flex-col gap-5;
}
.third-pannel {
  @apply w-full p-2 flex flex-col gap-5;
}
